
<!-- Styling account-wall-static for padding and adding responsitivity to tables -->

<style>

	.table thead tr {
		background-color: #a9d3cf;
	}

	.account-wall-static {
		padding-left: 110px;
		padding-right: 110px;
	}

	/* Modifies contrast on striped table */
	.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
	    background-color: #eaeaea;
	}

	.table {
		font-size: 11px;
	}


	@media (max-width: 767px) {
	  .table-responsive {
	    width: 100%;
	    margin-bottom: 15px;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    -webkit-overflow-scrolling: touch;
	  }
	  .table-responsive > .table {
	    margin-bottom: 0;
	  }
	  .table-responsive > .table > thead > tr > th,
	  .table-responsive > .table > tbody > tr > th,
	  .table-responsive > .table > tfoot > tr > th,
	  .table-responsive > .table > thead > tr > td,
	  .table-responsive > .table > tbody > tr > td,
	  .table-responsive > .table > tfoot > tr > td {
	    white-space: nowrap;
	  }
	  .table-responsive > .table-bordered {
	    border: 0;
	  }
	  .table-responsive > .table-bordered > thead > tr > th:first-child,
	  .table-responsive > .table-bordered > tbody > tr > th:first-child,
	  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
	  .table-responsive > .table-bordered > thead > tr > td:first-child,
	  .table-responsive > .table-bordered > tbody > tr > td:first-child,
	  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
	    border-left: 0;
	  }
	  .table-responsive > .table-bordered > thead > tr > th:last-child,
	  .table-responsive > .table-bordered > tbody > tr > th:last-child,
	  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
	  .table-responsive > .table-bordered > thead > tr > td:last-child,
	  .table-responsive > .table-bordered > tbody > tr > td:last-child,
	  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
	    border-right: 0;
	  }
	  .table-responsive > .table-bordered > tbody > tr:last-child > th,
	  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
	  .table-responsive > .table-bordered > tbody > tr:last-child > td,
	  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
	    border-bottom: 0;
	  }

	  .account-wall-static {
	  	padding-right: 20px;
	  	padding-left: 20px;
	  }
	}

</style>



<!-- Content -->

<% provide(:title, 'Careers') %>

<img src=<%= asset_path("berk_6.jpg")%> alt="berk_5.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />
<br />
<br />

<div class="account-wall-static">  

  <div id="intro">

    <h1>Careers</h1>
    <h3>Active Brothers + Alumni</h3>
    <hr />
    <br />


    <!-- LOGIC FOR DISPLAYING THE CAREERENTRIES STORED IN @careerentries  -->

	<% for index in 0 ... @careerentries.size %>

		<!-- Create a new table on the first index -->
		<% if index == 0 %>

			<!-- Handles the first division of table into full-time/internship on first index -->
			<% if @careerentries[index].fullintern == "Full-time" %>

				<h3><%= @careerentries[index].year %> Full-time </h3>

				<br />
				<div class="table-responsive">
					<table class="table table-striped table-condensed ">

						<thead>
							<tr>
								<th> Name </th>
								<th> Company </th>
								<th> Group </th>
								<th> Location </th>
							</tr>
						</thead>

						<tr>
							<td> <b><%= @careerentries[index].job_category %></b> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>

						<tr>
							<td> <%= @careerentries[index].name %> </td>
							<td> <%= @careerentries[index].company %> </td>
							<td> <%= @careerentries[index].group %> </td>
							<td> <%= @careerentries[index].location %> </td>
						</tr>

			<!-- First index is an internship (can't happen unless there are no full-time entries for the most recent year -->
			<% elsif @careerentries[index].fullintern == "Internship" %>

				<h3><%= @careerentries[index].year %> Internships </h3>

				<br />
				<div class="table-responsive">
					<table class="table table-striped table-condensed">

						<thead>
							<tr>
								<th> Name </th>
								<th> Company </th>
								<th> Group </th>
								<th> Location </th>
							</tr>
						</thead>

						<tr>
							<td> <b> <%= @careerentries[index].job_category %> </b> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>

						<tr>
							<td> <%= @careerentries[index].name %> </td>
							<td> <%= @careerentries[index].company %> </td>
							<td> <%= @careerentries[index].group %> </td>
							<td> <%= @careerentries[index].location %> </td>
						</tr>

			<% end %>

			<!-- If there is only one career entry  -->
			<% if @careerentries.size == 1 %>

				</table>
			    </div><!-- Close table responsive div -->
			<% end%>



		<!-- If we're both (1) on the last entry; (2) the last entry is a new year 
	    then make a new table and render just that row -->
		<% elsif (index == (@careerentries.size - 1)) && (@careerentries[index].year != @careerentries[index - 1].year) %>

			</table>
			</div> <!-- Close table responsive div -->

			<br />
			<br />
			<!-- Need to check whether the entry for this new year is a full-time entry or an internship entry -->
			<h3>
				<% if @careerentries[index].fullintern == "Full-time" %>
					<%= @careerentries[index].year %> Full-time 
				<% else %>
					<%= @careerentries[index].year %> Internships
				<% end %>
			</h3>

			<br />

			<div class="table-responsive">
				<table class="table table-striped table-condensed">

					<thead>
						<tr>
							<th> Name </th>
							<th> Company </th>
							<th> Group </th>
							<th> Location </th>
						</tr>
					</thead>

					<tr>
						<td> <b> <%= @careerentries[index].job_category %> </b> </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>

					<tr>
						<td> <%= @careerentries[index].name %> </td>
						<td> <%= @careerentries[index].company %> </td>
						<td> <%= @careerentries[index].group %> </td>
						<td> <%= @careerentries[index].location %> </td>
					</tr>

				</table>
			</div> <!-- Close table responsive div -->




		<!-- A new year has been encountered, so we must make a new table -->
		<% elsif @careerentries[index].year != @careerentries[index - 1].year %>

			</table>
			</div> <!-- Close table responsive div -->

			<br />
			<br />
			<h3>
				<% if @careerentries[index].fullintern == "Full-time" %>
					<%= @careerentries[index].year %> Full-time 
				<% else %>
					<%= @careerentries[index].year %> Internships
				<% end %>
			</h3>

			<br />
			<div class="table-responsive">
				<table class="table table-striped table-condensed">

					<thead>
						<tr>
							<th> Name </th>
							<th> Company </th>
							<th> Group </th>
							<th> Location </th>
						</tr>
					</thead>

					<tr>
						<td> <b> <%= @careerentries[index].job_category %> </b> </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>

					<tr>
						<td> <%= @careerentries[index].name %> </td>
						<td> <%= @careerentries[index].company %> </td>
						<td> <%= @careerentries[index].group %> </td>
						<td> <%= @careerentries[index].location %> </td>
					</tr>




		<!-- We're on the last entry, and it is *not* a new year -->
		<% elsif index == (@careerentries.size - 1) %>

			<!-- If our last entry is NOT a new year, but marks a division from full-time to internship -->
			<% if @careerentries[index].fullintern != @careerentries[index - 1].fullintern %>
				</table>
				</div> <!-- Close table responsive div -->

				<br />
			    <br />
				<h3><%= @careerentries[index].year %> Internships </h3>

				<br />
				<div class="table-responsive">
					<table class="table table-striped table-condensed">

						<thead>
							<tr>
								<th> Name </th>
								<th> Company </th>
								<th> Group </th>
								<th> Location </th>
							</tr>
						</thead>

						<tr>
							<td> <b> <%= @careerentries[index].job_category %> </b> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>

						<tr>
							<td> <%= @careerentries[index].name %> </td>
							<td> <%= @careerentries[index].company %> </td>
							<td> <%= @careerentries[index].group %> </td>
							<td> <%= @careerentries[index].location %> </td>
						</tr>
					</table>
				</div> <!-- Close table responsive div -->

			<!-- Our last entry is NOT a new year, and does NOT mark a division from full-time to internship -->
			<% else %>

					<!-- If we need to start a new job category on this last entry -->
					<% if @careerentries[index].job_category != @careerentries[index - 1].job_category %>
						<tr>
							<td> <b> <%= @careerentries[index].job_category %> </b> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>
					<% end %>

					<tr>
						<td> <%= @careerentries[index].name %> </td>
						<td> <%= @careerentries[index].company %> </td>
						<td> <%= @careerentries[index].group %> </td>
						<td> <%= @careerentries[index].location %> </td>
					</tr>

				</table>
				</div> <!-- Close table responsive div -->

			<% end %>




		<!-- We're on an entry that is the same year as the previous entry -->
		<% else %>

			<!-- We are still within the same year, but need to make a new table (division from full-time to internship) -->
			<% if @careerentries[index].fullintern != @careerentries[index - 1].fullintern %>

				</table>
				</div> <!-- Close table responsive div -->

				<br />
			    <br />

				<h3><%= @careerentries[index].year %> Internships</h3>
				<div class="table-responsive">
					<table class="table table-striped table-condensed">

						<br />

						<thead>
							<tr>
								<th> Name </th>
								<th> Company </th>
								<th> Group </th>
								<th> Location </th>
							</tr>
						</thead>

						<tr>
							<td> <b> <%= @careerentries[index].job_category %> </b> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>

						<tr>
							<td> <%= @careerentries[index].name %> </td>
							<td> <%= @careerentries[index].company %> </td>
							<td> <%= @careerentries[index].group %> </td>
							<td> <%= @careerentries[index].location %> </td>
						</tr>

			<!-- We are still within the same year, and do NOT need to make a new table (staying within full-time or internship) -->
			<% else %>

				<% if @careerentries[index].job_category != @careerentries[index - 1].job_category %>
					<tr>
						<td> <b> <%= @careerentries[index].job_category %> </b> </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>
				<% end %>

				<tr>
					<td> <%= @careerentries[index].name %> </td>
					<td> <%= @careerentries[index].company %> </td>
					<td> <%= @careerentries[index].group %> </td>
					<td> <%= @careerentries[index].location %> </td>
				</tr>

			<% end %>

		<% end %> <!-- end of outer 'if' statement -->

	<% end %> <!-- end of 'for' loop -->


  </div>

</div>