
<% provide(:title, 'Corporate') %>

<img src=<%= asset_path("handshake.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

<br />
<br />

<div class="account-wall-static" style="padding-top:20px; padding-bottom:40px;">  

  <div id="intro">

    <h1 style="font-size:30px;">Corporate</h1>
    <h3>Partnership Program</h3>

  </div>
</div>

<br />

<div class="row">
  <div class="span6">
    <div class="account-wall-static" style="padding-left:20px; padding-right:20px;">
      <img class="profile-img" src=<%= asset_path("akpsi_color_200.png")%> alt="akpsi_color_200">
      <h4 style="text-align:center; font-family: 'Lato', sans-serif; letter-spacing: 0.05em;">Sponsorship Information</h4>
      <br />
      <p class="text-body" style="padding-left:20px; padding-right:20px;">
        Thank you for your interest in partnering with Alpha Kappa Psi, a distinguished professional business fraternity at the University of California, Berkeley. As one of the elite student business organizations on campus, Alpha Kappa Psi can serve as a valuable liaison between your firm and the students of UC Berkeley. We can help your company strengthen its presence at this University and assist in effectively finding a concentration of the most qualified candidates for employment.<br /><br />

        Our relationship can begin with something as simple as your company link and logo on our website or go as far as co-hosting information sessions, career fairs, and case competitions. With our experience in a wide range of campus events, we can help you reach out to students through any method of your choice.<br /><br />

        To request for our Corporate Partnership Package, or to find out more information on forging a partnership with our chapter, please feel free to contact our Corporate Relations Directors at:
      </p>
      <br />
      <p class="linkclickblk" style='text-align:center;'>
        <a style="color:#95bcb8; border:3px solid #95bcb8; font-size:8px;"> corporaterelations@calakpsi.com </a>
      </p>

    </div>
  </div>

  <br class="media-linebreak" />

  <div class="span6">
    <div class="account-wall-static">
      <h4 style="text-align:center; font-family: 'Lato', sans-serif; letter-spacing: 0.05em;">Past Partners</h4>
      <br />

      <img src=<%= asset_path("bain.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

      <img src=<%= asset_path("morgan.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

      <img src=<%= asset_path("deloitte.png")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

      <img src=<%= asset_path("pwc.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

      <img src=<%= asset_path("wellsfargo.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

      <img src=<%= asset_path("boeing.png")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />



    </div>
  </div>
</div>


