<style>

  .form-blast
  {
      max-width: 80%;
      padding: 15px;
      margin: 0 auto;
      padding-top: 5px;
      text-align: center; 
  }

  .form-blast .form-control
  {
      position: relative;
      font-size: 12px;
      padding: 6px;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

  }

    .bio-field {
      resize: none;
      width: 100%;
      height: 300px;
  }

</style>

<% provide(:title, 'Email Rushees') %>

<div class="account-wall-static">

  <div id="intro">
    <br />
    <h1 style="font-weight:500;">Rushee E-mailer</h1>
    <h3 style="color:#b5b5b5;">Email all rushees</h3>
    <br />
    <p style="font-size:12px;"> In the email body, you may use the following variables to customize the email based on rushee name:<br /><br />
      <code>$FULL_NAME$</code>
      <code>$FIRST_NAME$</code>
      <code>$LAST_NAME$</code>
      <br /><br />
      Simply type any of the above variables in your email body, and the mailer will automatically replace them with the correct information of the rushee.
      <br /><br />
      Clicking "Test Email" will send a copy of your email to both your personal email and rush@calakpsi.com so you can review it before you blast to all rushees.
    </p>

    <div class="row" style="margin-left:0; margin-right:0;">

      <div class="span1">
      </div>

      <div class="intro">
        <br />

        <br />

        <%= form_for @email_to_rushee, :html => {:class => "form-blast"}, :url => rushee_mailer_url, method: "post" do |form| %>

            <%= render 'shared/error_messages', object: form.object%>

            <%= form.text_field :subject, class: 'form-control bio-field', style: 'padding:15px;', placeholder: "Subject".html_safe %>

            <%= form.text_area :body, class: 'form-control bio-field', style: 'padding-left:15px;', placeholder: "Body".html_safe %>

            <br />

            <%= form.submit "Blast Email", data: { confirm: "Are you sure you want to send this email to all #{Rushee.count} rushees?" }, class: "home-button" %>
            <%= form.submit "Test Email", class: "home-button" %>

      <% end %> <!-- end form_for -->

        <br />

      </div> <!-- end span6 div -->

    </div> <!-- end row div -->

  </div> <!-- end intro div -->

</div> <!-- end account-wall-static div -->

