<!-- Active "Edit Information" form -->

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-edit-active" }) do |f| %>
  <div class="account-wall-edit">

    <img class="profile-img" src=<%= asset_path("akpsi_bw_200.png")%> alt="akpsi_bw_200">

    <p class="profile-name">AKΨ: Alpha Beta Chapter</p>
    <span class="profile-email">Edit active information</span>
    <span class="profile-email">[<%= current_active.name %>]</span><br />

    <%= devise_error_messages! %>

    <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'Email'  %>

    <%= f.text_field :major, class: 'form-control', autofocus: true, placeholder: 'Major'  %>
    <br />

    <%= f.text_field :pledge_class, class: 'form-control', autofocus: true, placeholder: 'Pledge Class'  %>
    <hr style="height:3pt; visibility:hidden; margin-bottom:-1px;" />

    <b>Edit biography</b>
    <hr style="height:3pt; visibility:hidden; margin-bottom:-1px;" />

    <%= f.text_area :biography, class: 'form-control bio-field', autofocus: true, placeholder: 'Biography'  %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <hr style="height:1pt; visibility:hidden; margin-bottom:-1px;" />

    <b>Change current password</b><br /> (if fields are left blank, password stays as-is)
    <hr style="height:1pt; visibility:hidden; margin-bottom:-1px;" />
    <%= f.password_field :password, :autocomplete => "off", class: 'form-control', autofocus: true, placeholder: 'New password'  %>

    <%= f.password_field :password_confirmation, class: 'form-control', autofocus: true, placeholder: 'Confirm new password'  %>
    <hr style="height:3pt; visibility:hidden; margin-bottom:-1px;" />

    <%= f.password_field :current_password, class: 'form-control', autofocus: true, placeholder: 'Current password (required)' %>
    <hr style="height:1pt; visibility:hidden; margin-bottom:-1px;" />

    <div><%= f.submit "Update my information", class: "btn btn-sm" %></div>
  </div>
<% end %>
