
<style>

  input {
    font-family: FontAwesome;
  }

  .rushapp-body {
    font-size:13px;
    line-height: 24px;
  }

  .account-wall-static {
    padding-left: 200px;
    padding-right: 200px;
  }
  
  @media (max-width: 768px) {
    .account-wall-static {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

</style>



<% provide(:title, 'Rush Application') %>

<div class="account-wall-static">

  <div id="intro">
    <h1 style="font-weight:500;">Rush Application</h1>
    <h3 style="color:#b5b5b5;">Instructions</h3>
    <br />

    <p class="linkclickblk">
      <a style="color:#95bcb8; border:3px solid #95bcb8;"> Please direct questions to: rush@calakpsi.com </a> 
    </p>

    <p class="rushapp-body">
      To access the rush application, please ensure you have signed up as a rushee.
      If you have not yet signed up as a rushee at a rush event, please follow the below link to do so:
    </p>

    <p class="linkclickblk">
      <a href=<%= new_rushee_path %> style="color:#95bcb8; border:3px solid #95bcb8;"> Rushee Sign Up </a> 
    </p>

    <br />

    <p class="rushapp-body">
      Once you have signed up as a rushee, then you are ready to continue with the application.
      To do so, please access the application below using the same email and password that you signed up with. <!-- Furthermore, the rush application also provides a section for you to sign up for your <i>individual professional interview</i>. -->
    </p>

    <%= form_tag(new_rush_application_path, class: "form-sign-in-up") do %>
        <%= text_field_tag(:email, nil, class: 'form-control', placeholder: "&#xf003; Email".html_safe) %>
        <br />
        <%= password_field_tag(:password, nil, class: 'form-control', placeholder: "&#xf084; Password".html_safe) %>
        <br />
        <br />
        <%= submit_tag("Begin Application", class: "btn btn-sm") %>
    <% end %>

    <br/><br />

    <h3 style="color:#b5b5b5;"> Things to note (please read):</h3>
    <br/>

    <p class="rushapp-body">
      You may update your application at any time before the deadline by reaccessing it via the form above.<br /><br />
      In addition to completing and submitting the above application, you must also print the following application materials (paper-clipped, no staples) and bring them to your individual professional interview in order to be considered in the recruitment process. 
    </p>

    <p class="linkclickblk">
      <a style="color:#95bcb8; border:3px solid #95bcb8;"> Candidate Application </a><br />
      <a style="color:#95bcb8; border:3px solid #95bcb8;"> Cover Letter </a><br />
      <a style="color:#95bcb8; border:3px solid #95bcb8;"> Resume </a><br />
      <a style="color:#95bcb8; border:3px solid #95bcb8;"> Current Academic Schedule </a><br />
      <a style="color:#95bcb8; border:3px solid #95bcb8;"> Unofficial Transcript </a><br />
      <a style="color:#95bcb8; border:3px solid #95bcb8;"> Recent Self Photo </a><br />
    </p>

    <p class="rushapp-body">
      Ensure that your unofficial Transcript from Bearfacts has your name on it. Also note that the photograph you submit will not be returned.
    </p>

    <br />

    <p class="rushapp-body">
      <b>The due date for this rush application can be found at <%= root_url %>rush. Please print a copy of your application materials and bring it to your individual professional interview at your scheduled time.<!--  (you can schedule your interview time by logging into the rush application.) --></b> If you have any questions, concerns, or need special accommodations, feel free to e-mail our VP of Membership at rush@calakpsi.com.
    </p>

  </div> <!-- end intro div -->

</div> <!-- end account-wall-static div -->

