<style>

  input {
    font-family: FontAwesome;
  }

</style>



<!-- Content -->

<% provide(:title, 'Rush Application') %>

<div class="account-wall-static">

  <img class="profile-img" src=<%= asset_path("akpsi_color_200.png")%> alt="akpsi_color_200">

  <p class="profile-name">AKΨ: Alpha Beta Chapter</p>
  <span class="profile-email">Rushee Application</span><br /><br />

  <div style="text-align:center;">
    <p class="linkclickblk">
      <a style="color:#95bcb8; border:3px solid #95bcb8;">Professional Interview</a>
    </p>

    <!-- The interview slot has an id attached to it (rushee has an interview slot)  -->
    <% if !@rushee.interview_slots.first.nil? %>

        You have signed up for a professional interview slot. It is scheduled for <%= @rushee.interview_slots.first.start_time.strftime("%A, %B %-d, %Y") %>, at <%= @rushee.interview_slots.first.start_time.strftime("%l:%M%p") %>.

    <% elsif @available_slots.count == 0 %>

        There are no more interview slots remaining. Please contact VP Membership at rush@calakpsi.com for assistance.

    <% else %>

        You have not yet signed up for a professional interview slot. Please choose one from the list below:<br /><br />

        <%= form_tag associate_interview_slot_path do %>
         
          <!-- Generate a hash that represents the interview slots, so we can pass them through with a select_tag  -->
          <% slots_for_select = {}
            @available_slots.each do |slot|
              slots_for_select[slot.start_time.strftime("%a. %D | %l:%M%p")] = slot.start_time
            end %>

          <!-- This will display all of the InterviewSlot objects in a dropdown box, but
          will display the start_times of the objects to the rushee instead of the object memory location (this is done with the hash generated above) -->
          <%= select_tag(:selected_slot, options_for_select(slots_for_select)) %>

          <!-- Need to pass the rushee_id to the 'associate' action in the interview_slots_controller, so we pass it in a hidden_field_tag -->
          <%= hidden_field_tag("rushee_id", @rushee.id.to_i) %>

          <br /><br />
          <%= submit_tag 'Schedule Interview', class: "btn btn-sm" %>

          <br />

        <% end %>
    <% end %>

  </div>

  <hr />

  <%= form_for(@rush_application, url: submit_rush_application_url, :html => {multipart: true, :class => "form-edit-active"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>          

      <br /><br />

      <% unless @rush_application.id.nil? %>

          <p>
            You have already completed your application. If you wish to print your application, you should click below: <br/>
          </p>

          <p class="linkclickblk">
            <%= link_to "Print Application Here", print_rush_application_path(@rush_application, confirmation: @rushee.password_digest), :method => :post %>
          </p>
          <br />
          <p>
            If you wish to edit your application, please edit the details below and click submit.
          </p>

      <% end %>

      <div>

        <p class="linkclickblk">
          <a style="color:#95bcb8; border:3px solid #95bcb8;"> Personal Information </a>
        </p>

        <%= f.hidden_field :rushee_id, :value => @rush_application.rushee_id.to_i %>

        <%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: "&#xf003; Email".html_safe %>

        <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: "&#xf007; Name".html_safe %>

        <%= f.text_field :phone_number, class: 'form-control', autofocus: true, placeholder: "&#xf095; Phone Number".html_safe %>

        <%= f.text_field :address, class: 'form-control', autofocus: true, placeholder: "&#xf0f7; Address".html_safe %>

        <%= f.text_field :city, class: 'form-control', autofocus: true, placeholder: "&#xf0f7; City".html_safe %>

        <%= f.text_field :state, class: 'form-control', autofocus: true, placeholder: "&#xf0f7; State".html_safe %>

        <%= f.text_field :country, class: 'form-control', autofocus: true, placeholder: "&#xf0f7; Country".html_safe %>

        <%= f.text_field :zip_code, class: 'form-control', autofocus: true, placeholder: "&#xf0f7; Zip Code".html_safe %>
      </div>
      <br /><br />


      <div>
        <p class="linkclickblk">
          <a style="color:#95bcb8; border:3px solid #95bcb8;"> Academic Information </a>
        </p>

        <%= f.text_field :grade, class: 'form-control', autofocus: true, placeholder: "&#xf05d; Grade".html_safe %>

        <%= f.text_field :first_major, class: 'form-control', autofocus: true, placeholder: "&#xf0ae; Major".html_safe %>

        <%= f.text_field :first_major_gpa, value: (number_with_precision(f.object.first_major_gpa, precision: 3, scale:1)), class: 'form-control', autofocus: true, placeholder: "&#xf0c9; Major GPA".html_safe %>

        <%= f.text_field :second_major, class: 'form-control', autofocus: true, placeholder: "&#xf0ae; 2nd Major (optional)".html_safe %>

        <%= f.text_field :second_major_gpa, value: (number_with_precision(f.object.second_major_gpa, precision: 3, scale:1)), class: 'form-control', autofocus: true, placeholder: "&#xf0c9; 2nd Major GPA (Optional)".html_safe %>

        <%= f.text_field :third_major, class: 'form-control', autofocus: true, placeholder: "&#xf0ae; 3rd Major (optional)".html_safe %>

        <%= f.text_field :third_major_gpa, value: (number_with_precision(f.object.third_major_gpa, precision: 3, scale:1)), class: 'form-control', autofocus: true, placeholder: "&#xf0c9; 3rd Major GPA (optional)".html_safe %>

        <%= f.text_field :cumulative_gpa, value: (number_with_precision(f.object.cumulative_gpa, precision: 3, scale:1)), class: 'form-control', autofocus: true, placeholder: "&#xf047; Cumulative GPA".html_safe %><br />

        Intended haas? &nbsp;&nbsp;
        <%= f.check_box :intended_haas, class: 'checkbox inline', autofocus: true %>
      </div>
      <br /><br />



      <div>
        <p class="linkclickblk">
          <a style="color:#95bcb8; border:3px solid #95bcb8;"> Academic Schedule </a>
        </p>

        <%= f.text_field :academic_schedule, class: 'form-control-wide', autofocus: true, placeholder: "List all classes that you are enrolled in this semester" %>

      </div>
      <br /><br />



      <div>
        <p class="linkclickblk">
          <a style="color:#95bcb8; border:3px solid #95bcb8;"> Extracurriculars </a>
        </p>

        If you are actively involved in any other organizations on campus or if you are employed, please indicate below, along with the number of hours <i>per week</i> you envision committing to each. <br /><br />
        <%= f.text_field :extracurricular_info, class: 'form-control-wide', autofocus: true, placeholder: "i.e. Club 1 (5 hours), Club 2 (3 hours), Work Study (10 hours)" %>
      </div>
      <br /><br />



      <div>
        <p class="linkclickblk">
          <a style="color:#95bcb8; border:3px solid #95bcb8;"> Cover Letter </a>
        </p>

        <p style="text-align:left;">
          The cover letter should be limited to one page in length and should be submitted in PDF format. Please address the following questions in your cover letter, and upload it with the button below:                
          <br/>
          <ol style="text-align:left;">
            <li>What do you hope to gain with Alpha Kappa Psi and what can you contribute?</li>
            <li>How do you think you stand out?</li>                                           
            <li>What are your future goals and how do you plan on achieving them?</li>  
          </ol>
          <br />
          <div style="text-align:left;"><%= f.file_field :cover_letter %></div>
        </p>

      </div>
      <br /><br />



      <div>
        <p class="linkclickblk">
          <a style="color:#95bcb8; border:3px solid #95bcb8;"> Additional Materials </a>
        </p>

        <p style="text-align:left;">
          Please submit all documents in PDF format and the photo in JPG, JPEG, PNG, or GIF. The resume should be one page in length.
          In addition, if you are a freshman, please attach your high school transcript as well as your BearFacts transcript.
        </p>
        <br />

        <div style="text-align:left;">
          Resume: &nbsp;&nbsp;
          <%= f.file_field :resume, class: 'inline' %>
          <br />

          Transcript: &nbsp;&nbsp;
          <%= f.file_field :transcript, class: 'inline' %>
          <br />

          Additional Transcript (optional): &nbsp;&nbsp;
          <%= f.file_field :additional_transcript, class: 'inline' %>
          <br />

          Photograph: &nbsp;&nbsp;
          <%= f.file_field :photograph, class: 'inline' %>
          <br />
        </div>
      </div>

      <br />
      <br />

      <%= f.submit "Submit Application", class: "btn btn-sm" %><br /><br />
      <p style="font-size:10px;">(Please only click once and wait for files to upload)</p>

  <% end %>
</div>