
<style>

    .rushapp-body {
        font-size:13px;
        line-height: 28px;
    }

    .account-wall-static {
        padding-left: 200px;
        padding-right: 200px;
    }

    @media (max-width: 768px) {
        .account-wall-static {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

</style>

<% provide(:title, 'Rush Application') %>

<div class="account-wall-static">
  <h4 style="text-align:center;"><%= @rush_application.name %>'s Rush Application:</h4>

  <br />

  <div class="row" style="font-size:14px;">

    <div class="span4">

      <p class="linkclickblk">
        <a style="color:#95bcb8; border:3px solid #95bcb8;"> Personal </a>
      </p>
      <ul>
        <li><b>Email:</b> <%= @rush_application.email %> </li>
        <li><b>Grade:</b> <%= @rush_application.grade %> </li>
        <li><b>Phone Number:</b> <%= @rush_application.phone_number %> </li>
        <li><b>Address:</b> <%= @rush_application.address %> <%= @rush_application.city %> <%= @rush_application.state %> <%= @rush_application.zip_code %></li>
      </ul>

      <p class="linkclickblk">
        <a style="color:#95bcb8; border:3px solid #95bcb8;"> Academics </a>
      </p>
      <ul>
        <li><b>Major:</b> <%= @rush_application.first_major %> </li>
        <li><b>Major GPA:</b> <%= @rush_application.first_major_gpa %> </li>
        <% unless @rush_application.second_major.empty? %>
            <li><b>Second Major:</b> <%= @rush_application.second_major %> </li>
            <li><b>Second Major GPA:</b> <%= @rush_application.first_major %> </li>
            <% unless @rush_application.third_major.empty? %>
                <li><b>Third Major:</b> <%= @rush_application.third_major %> </li>
                <li><b>Third Major GPA:</b> <%= @rush_application.third_major %> </li>
            <% end %>
        <% end %>
        <li><b>Cumulative GPA:</b> <%= @rush_application.cumulative_gpa %> </li>
        <li><b>Intended Haas?</b> <%= @rush_application.intended_haas.to_s.capitalize %>. </li>
        <li><b>Academic schedule this semester:</b> <%= @rush_application.academic_schedule %> </li>
      </ul>

    </div> <!-- end of first span4 div -->

    <div class="span4">

      <p class="linkclickblk">
        <a style="color:#95bcb8; border:3px solid #95bcb8;"> Extracurriculars </a>
      </p>

      <b>Activities planned for this semester and time commitment per week:</b>
      <br /><br />
      <%= @rush_application.extracurricular_info %>

    </div> <!-- end of second span4 div -->

  </div> <!-- end of row div -->

  <br />
  <p class="linkclickblk" style="text-align:center;">
    <a href=<%= root_path %>> Return to homepage</a> 
  </p>

</div> <!-- end account-wall-static div -->

