
<style>

    input {
        font-family: FontAwesome;
    }

    .rushapp-body {
        font-size:13px;
        line-height: 24px;
    }

    .account-wall-static {
        padding-left: 200px;
        padding-right: 200px;
    }

    @media (max-width: 768px) {
        .account-wall-static {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

</style>

<% provide(:title, 'Rush Application') %>

<img src=<%= asset_path("berk_8.jpg")%> alt="berk_4.jpg" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);" />

<br />
<br />

<div class="account-wall-static">

  <div id="intro">
    <h1 style="font-weight:500;">Rush Application</h1>
    <h3 style="color:#b5b5b5;">Print Me</h3>
    <br />

    <p class="rushapp-body">
     Hi I'm the print rush application view.
      <%= "Name: #{@rush_application.name}" %>
      <%= "Email: #{@rush_application.email}" %>
      <%= "Phone: #{@rush_application.phone_number}" %>
      <%= "Address: #{@rush_application.address}" %>
      <%= "City: #{@rush_application.city}" %>
      <%= "State: #{@rush_application.state}" %>
      <%= "Country: #{@rush_application.country}" %>
      <%= "Zip Code: #{@rush_application.zip_code}" %>
    </p>

    <div>
      <br />

      <br />

    </div> <!-- end row div -->

  </div> <!-- end intro div -->

</div> <!-- end account-wall-static div -->

