<!-- Renders each row of the active's career entries -->

<tr>
  <td> <%= career_entry.company %> </td>
  <td> <%= career_entry.group %> </td>
  <td> <%= career_entry.year %> </td>
  <td> <%= career_entry.location %> </td>
  <td> <%= career_entry.job_category %> </td>
  <td> <%= career_entry.fullintern %> </td>

  <% if current_active?(career_entry.active) %>
      <td>
        <%= link_to "[edit]", edit_active_career_entry_path(career_entry.active, career_entry)%>
      </td>
      <td>
        <%= link_to "[delete]", active_career_entry_path(career_entry.active, career_entry), :method => :delete,
                    data: { confirm: "Are you sure you want to delete this career entry?" },
                    title: career_entry.company %>

      </td>
  <% end %>
</tr>
  




  