<style type="text/css">

    input {
        font-family: FontAwesome;
    }

    .btn.btn-sm{
        border-style:solid;
        border-color:#fff;
        text-align: left;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-size: 13px;
    }

</style>


<%= form_for(@careerentry, :html => {:class => "form-sign-in-up"}) do |f| %>
    <div class="account-wall">
        <img class="profile-img" src=<%= asset_path("akpsi_color_200.png")%> alt="akpsi_color_200">

        <p class="profile-name">AKΨ: Alpha Beta Chapter</p>
        <span class="profile-email">Edit career entry</span>
        <span class="profile-email">[<%= current_active.name %>]</span>
        <br />

        <%= render 'shared/error_messages', object: f.object%>

        <%= f.text_field :company, class: 'form-control', autofocus: true, placeholder: "&#xf0fe;  Company".html_safe %><br />

        <%= f.text_field :group, class: 'form-control', autofocus: true, placeholder: "&#xf0fe;  Group".html_safe %><br />

        <%= f.text_field :year, class: 'form-control', autofocus: true, placeholder: "&#xf0fe;  Year".html_safe %><br />

        <%= f.text_field :location, class: 'form-control', autofocus: true, placeholder: "&#xf0fe;  Location".html_safe %><br />

        <%= f.text_field :job_category, class: 'form-control', autofocus: true, placeholder: "&#xf0fe;  Job Category".html_safe %><br />
        <p style="font-size:11px;">(eg. "investment banking", "accounting", <br />
            "technology" - see careers page <br />
             for different categories)</p>

        <br />
        <%= f.collection_select :fullintern, CareerEntry::CAREER_TYPES, :to_s, :to_s%>

        <br />
        <br />

        <%= f.submit "Save Changes", class: "btn btn-sm" %>
    </div>

<% end %>
