<style>

	input {
        font-family: FontAwesome;
    }

    .btn.btn-sm {
        border-style:solid;
        border-color:#fff;
        text-align: left;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-size: 13px;
    }
</style>


<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-sign-in-up" }) do |f| %>
  <div class="account-wall"> 

  	  <h5 style="text-align:center;">Forgot your password?</h5>

  	  <img class="profile-img" src=<%= asset_path("akpsi_color_200.png")%> alt="akpsi_color_200">
	  <%= devise_error_messages! %>

	  <%= f.email_field :email, class: 'form-control', :autofocus => true, placeholder: "&#xf003;  Email".html_safe%>

	  <br />
	  <br />

	  <%= f.submit "Send me reset password instructions", class: "btn btn-sm" %>

  </div>
<% end %>
