<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Contact Request from <%= @contact_request.name %></h1>

Name: <%= @contact_request.name %> <br/>

Email: <%= @contact_request.email %> <br/>

Subject: <%= @contact_request.subject %>  <br/>

Body: <%= @contact_request.body %> <br/>

</body>
</html>

