
<% provide(:title, 'Rushees') %>

<div class="account-wall-static">

  <div id="intro">

    <h1>Rushees</h1>
    <h3><%= @rushsemester %></h3>
    <br />


    <ul class="thumbnails">
      <!-- Cache for all Rushees -->
      <% cache [cache_key_for_rushees, "thumbnails"] do %>
          <% @rushees.each do |rushee| %>
              <!-- Cache for each individual Rushee -->
              <% cache [rushee, "thumbnails"] do %>
                  <!-- Only display rushees that have photographs -->
                  <% if rushee.photograph.exists? %>
                      <li>
                        <a href=<%= rushee_path(rushee.id) %> class="thumbnail">
                        <%= image_tag rushee.photograph.url(:middlesmall) %>
                        <p class="active-names"><%= rushee.name.split[0] %> <br /> <%= rushee.name.split[1..-1].join(' ') %></p>
                        </a>
                      </li>

                  <% elsif !rushee.rush_application.nil? && !rushee.rush_application.photograph.nil? && rushee.rush_application.photograph.exists? %>
                      <li>
                        <a href=<%= rushee_path(rushee.id) %> class="thumbnail">
                        <%= image_tag rushee.rush_application.photograph.url(:middlesmall) %>
                        <p class="active-names"><%= rushee.name.split[0] %> <br /> <%= rushee.name.split[1..-1].join(' ') %></p>
                        </a>
                      </li>

                  <% end %>
              <% end %>
          <% end %>
      <% end %>
	</ul> <!-- End of rendering rushee thumbnails -->

  </div>
</div>

<br />


<div class="account-wall-static">

	<div id="intro">
		<br />
	    <h3>Rushee Quick-Find</h3>
	    <br />

	</div>


	<div class="table-responsive">
      <table class="table table-striped table-condensed" style="font-size:12px;">

        <thead>
          <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Major </th>
            <th> Year </th>
          </tr>
        </thead>

        <tbody>
        <% cache [cache_key_for_rushees, "quick-find"] do %>
            <% @rushees.each do |rushee| %>
                <% cache [rushee, "quick-find"] do %>
                    <tr style="font-size:11px;">
                      <td> <%= link_to rushee.name, rushee %> </td>
                      <td> <%= rushee.email %> </td>
                      <td> <%= rushee.major %> </td>
                      <td> <%= rushee.grade %> </td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

</div>