
<% provide(:title, 'Rushees') %>

<div class="account-wall-static">  

  <div id="intro">

    <h1>Rushees</h1>
    <h3><%= @rushsemester %></h3>
    <br />


	<ul class="thumbnails">
	  <% @rushees.each do |rushee| %>

	  	<!-- Only display rushees that have photographs -->
	  	<% if rushee.photograph.exists? %>
		  	<li>
		  		<a href=<%= rushee_path(rushee.id) %> class="thumbnail">
		  			<%= image_tag rushee.photograph.url(:middlesmall) %>
					<p class="active-names"><%= rushee.name.split[0] %> <br /> <%= rushee.name.split[1..-1].join(' ') %></p>
		  		</a>
		    </li>
		<% end %>

	  <% end %>
	</ul>


  </div>
</div>