<!-- Set up positioning of navbar -->

<style type="text/css">
  
  /* Centers the buttons within the navbar */
  .navbar-inner li a {
    line-height: 40px;
    font-family: 'Lato', sans-serif;
  }

  @media (max-width:979px) {
    /* Changes line spacing of the "account" dropdown */
    .navbar-inner li a {
      line-height:10px;
    }

    /* Centers the dropdown button within the navbar on small screens */
    .btn.btn-navbar {
      margin-top:15px;
    }

    .navbar-inner .dropdown-menu li a {
      line-height:10px;
    }

  }

  .dropup > .dropdown-menu:after {
    border-bottom: 0;
    border-top: 6px solid rgba(39, 45, 51, 0.9);
    top: auto;
    display: inline-block;
    bottom: -6px;
    content: '';
    position: absolute;
    left: 50%;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }

  /* Sets font size and line spacing of the "account" dropdown menu (regular size screen) */
  .dropdown-menu li > a
  {
    font-size: 12px;
    line-height: 20px;
  }

  /* Sets attributes of the "account" dropdown menu when mouse hovered over attributes */
  .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
  {
    color: black;
    background-image: none;
    background-color: #F0F0F0;
    font-size: 12px;
  }

  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }

  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Styles the AKPsi logo inside of navbar */
  .brand {
    height: 40px;
    width: 200px;
  }

  @media (min-width: 768px) {

    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-left:  15px;
      padding-right: 15px;
    }
    .navbar-wrapper .navbar {
      padding-left:  0;
      padding-right: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }

  }

  .navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  }

</style>



<!-- Content -->
<% cache cache_key_for_header do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href= <%= root_path %>> <img src=<%= asset_path("akpsi_color_header_logo.png")%> alt="" />  </a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
 
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to "Home",            root_path %></li>
          <li><%= link_to "Rush",            main_app.rush_path %></li>
          <li><%= link_to "About Us",        main_app.about_path %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Active Brothers
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Active Profiles", main_app.actives_path %></li>
              <li><%= link_to "Pledge Classes", main_app.classes_path %></li>
            </ul>
          </li>

          <li><%= link_to "Careers",         main_app.careers_path %></li>
          <li><%= link_to "Consulting",      main_app.consulting_path %></li>
          <li><%= link_to "Corporate",       main_app.corporate_path %></li>

          <!-- Placeholder: uses Devise helper functions -->

          <% if active_signed_in? %>

            <!-- Link to current rushees only available when active signed in -->
            <li><%= link_to "Rushees", main_app.rushees_path %></li>

              <!-- Replace Active-Sign in with Active Related Dropdown Menus -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Active Portal", main_app.active_path(current_active) %>
                <!-- Used to be just 'current_active' before Forem was installed -->

                <li><%= link_to "Active Forums", forem.root_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", main_app.destroy_active_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Rushee Portal", main_app.rush_application_index_path %></li>
            <!-- <li><%= link_to "Active Sign In", main_app.new_active_session_path %></li> -->
          <% end %>


        </ul>
      </div>
     
    </div>
  </div>
</div>
<% end %>
