<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      <a class="brand" href= <%= root_path %>> <img src=<%= asset_path("akpsi_bw_200.png")%> alt="SparkCharger" />   </a>
 
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to "Home",            root_path %></li>
          <li><%= link_to "About Us",        about_path %></li>
          <li><%= link_to "Active Brothers", actives_path %></li>
          <li><%= link_to "Careers",         careers_path %></li>
          <li><%= link_to "Consulting",      consulting_path %></li>
          <li><%= link_to "Corporate",       corporate_path %></li>

          <!-- Placeholder: uses Devise helper functions -->

          <% if active_signed_in? %>

            <!-- Link to current rushees only available when active signed in -->
            <li><%= link_to "Rushees", rushees_path %></li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Profile", current_active %></li>
                <li><%= link_to "Edit Profile", edit_active_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_active_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          <% else %>
          
            <li><%= link_to "Active sign in", new_active_session_path %></li>
          <% end %>


        </ul>
      </div>
     
    </div>
  </div>
</div>