<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>


  <body>
  
    <%= render 'layouts/header' %>
    <div class="container">

      <!-- Flash messages -->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>

      <!-- Float the footer by itself on every page -->
      <br />
      <%= render 'layouts/footer' %>
      <br />

    </div>
 
    <%= debug(params) if Rails.env.development? %> 
  </body>


</html>